<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola perros</p>
    <p>nuevo cambio</p>
    
    <a href="crearrol">Nuevo registro</a><!--las perras A solo aceptan rutas como las que estan en la view-->
    <hr>
    <ul>
        {%for i in  objeto %}

        <li>{{i.nombre_rol}}</li>
        <a href="{% url 'editarrol' i.id %}" class="btn btn-warning">
            Editar
        </a>
        <form action="{% url 'borrar' i.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Borrar</button>
        </form>

        
        {%endfor%}  

</ul>
</body>
</html>